<%- include('./header.ejs')%>

<div class="main-content">
    <div class="container">
        <h3>Dashboard</h3>
        <div class="row mt-4">
             <div class="col-lg-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="fs-3">Blogs</h5>
                    </div>
                     <div class="card-body text-center">
                         <span class="fs-4 text-danger"><%= blogsCount%></span>
                     </div>
                </div>
             </div>
        </div>
    </div>
</div>

<%- include('./footer.ejs')%>